body{
    background-image: url("https://intranet.virginiogomez.cl/intranet/assets/images/logo-ipvg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
}