*{
	font-family: helvetica;
	font-size: 18px;
}

h1{
	text-align: center;
}

.column {
  float: left;
  width: 50%;
  padding: 0% 0;
  text-align: center;
}

.columntext {
  float: left;
  width: 50%;
  padding: 0% 0;
  text-align: center;
  padding-top: 8%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.rightimage{
	max-width: 90%;
	border-radius: 10px;
}

.parrafo{
	background-color: #003366;
	color: white;
	padding: 0.5%;
}

.parrafo2{
	padding: 0.5%;
}